// звернення до елементу з класом nav (до класів звернення через символ крапки)
.nav{
    // позиціювання за допомогою flex, рекомендую гайд по flex - https://css-tricks.com/snippets/css/a-guide-to-flexbox/
    display: flex; 

    // justify-content - вирівнювання по головній вісі (х). 
    // space-between - елементи рівномірно розподілені у рядку; перший елемент знаходиться на початку рядка, останній елемент у кінці
    justify-content: space-between; 

    // align-items - вирівнювання по вертикалі (у).
    // center - вирівнювання по центру
    align-items: center;

    // padding - встановлює внутрішній відступ в елементі. 0 - зверху та знизу, 20 - зліва та зправа
    padding: 0 20px;

    // color - колір тексту, #fff - білий
    color: #fff;

    // background-color - колір фону, rgb(90, 0, 138) - значення кольору у форматі rgb (red, green, blue)
    background-color: rgb(90, 0, 138);

    // &__list - доступ до елементу з класом nav__list (за частину nav відповідає символ поєднання &)
    &__list{
        // list-style - визначає ти маркування елементів списку. none - прибирає будь-яке маркування
        list-style: none;
        display: flex;

        // column-gap - встановлює відступ між колонками flex 
        column-gap: 20px;
    }

    // &__link - доступ до елементу з класом nav__link
    &__link{
        // display - визначає тип відображення елемента. inline - рядковий, block - блоковий, (тобто елементи будуть виводитися в одному рядку, але при цьому мати і блокові властивості)
        display: inline-block;

        // text-decoration - визначає тип підкреслення тексту. none - прибирає підкреслення
        text-decoration: none;
        color: #fff;

        // relative - елемент позиціюється відповідно до нормального потоку документа, а абсолютне позиціювання дочірніх елементів буде в середині цього елементу
        position: relative;

        // ::after - псевдоклас, який створює псевдоелемент 
        &::after{
            // content - встановлює вміст псевдоелемента. '' - порожній елемент
            content: '';

            //абсолютне позиціювання елемента відносно батьківського (__link)
            position: absolute;

            // left - встановлює позицію по лівому краю елемента, bottom - по нижньому краю
            left: 0; bottom: 0;

            // width - встановлює ширину псевдоелемента, height - висоту
            width: 100%; height: 2px;
            background-color: #fff;

            // властивість transform дозволяє повертати, масштабувати, нахиляти або переміщувати елемент
            // scaleX - масштабування по горизонталі, 0 - немає масштабування (елемент не видно)
            transform: scaleX(0);

            // transform-origin - встановлює початок трансформування елементу (відносно якої точки чи сторони), right - по правій стороні (початок перетворення з правого краю)
            transform-origin: right;

            // transition - встановлює перехідний стан перетворення елементу. transform - перехідний стан буде слідкувати за властивістю transform, а зміна стану буде тривати 0.5 секунди (нуль на початку можна не вказувати)
            transition: transform .5s;
        }

        // при наведенні на елемент з класом nav__link проміжок підкреслення буде повернутися до початку елемента
        // :hover - псевдоклас, який спрацьовує, коли користувач наводить на елемент мишею
        &:hover::after{
            // scaleX - масштабування по горизонталі, 1 - звичайний розмір елементу (за замовчанням)
            transform: scaleX(1);

            // transform-origin - встановлює початок трансформування елементу (відносно якої точки чи сторони), left - по лівій стороні (початок перетворення з лівого краю)
            transform-origin: left;
        }
    }
}